.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background: rgb(233, 30, 99);
  background: linear-gradient(
    145deg,
    rgba(233, 30, 99, 1) 20%,
    rgba(171, 71, 188, 1) 100%
  );

  h1 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
}

.date {
  text-align: center;
  font-size: 48pt;
  color: #FFF
}
